footer {
    height: 50px;
    padding: 0 80px;
    @include tablet {
        padding: 0px 10px;
        font-size: 14px;
    }
    .inner {
        display: flex;
        width: 100%;
        align-items: center;
        height: 100%;
        padding: 0;
        justify-content: space-between;

        .desc {
            @include mobile {
                display: none;
            }
        }
    }
}
