header {
    position: fixed;
    width: 100%;
    z-index: 10;

    nav {
        height: 50px;
        position: relative;
        z-index: 10;
        width: 100%;
        padding: 0px 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include desktop {
            padding: 0 50px;
        }
        @include tablet {
            padding: 0px 10px;
        }
    }
    .nav-list {
        height: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .nav-item {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        a {
            display: block;
            font-size: 18px;
            font-weight: 400;
            display: flex;
            align-items: center;
            height: 100%;
            letter-spacing: -1px;
            justify-content: center;
            transition: 0.5s;
            @include mobile {
                font-size: 13px;
            }

            &:hover {
                font-size: 25px;
                font-weight: 500;

                @include mobile {
                    font-size: 14px;
                }
            }
        }
    }
}
