body {
    &.on {
        background-color: #0b0b0b;
        color: #fff;
    }
}
.sc-main {
    .img-wrap {
        .img-box {
            height: 85vh;
            @include mobile {
                height: 50vh;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .text-wrap {
        .text-box {
            font-size: 45px;
            letter-spacing: -2px;
            @include desktop {
                font-size: 40px;
            }
            @include tablet {
                font-size: 30px;
            }

            @include mobile {
                font-size: 25px;
                letter-spacing: -1px;
            }

            .title {
                text-transform: uppercase;
                text-indent: 15rem;
                @include desktop {
                    text-indent: 10rem;
                }

                @include mobile {
                    text-indent: 3rem;
                }
            }

            .desc {
                .text {
                    overflow: hidden;
                    &:last-child {
                        text-align: right;
                        font-weight: 700;
                        overflow: hidden;
                        font-size: 60px;
                        @include desktop {
                            font-size: 50px;
                        }
                        @include tablet {
                            font-size: 40px;
                        }
                        @include mobile {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

.sc-project,
.sc-subProject {
    .inner {
        display: flex;
        flex-direction: column;
        gap: 100px;
        @include tablet {
            gap: 50px;
        }
        @include mobile {
            gap: 10px;
        }
    }
    .project-wrap {
        &:last-child {
            flex-direction: row-reverse;
            @include tablet {
                flex-direction: column;
            }
        }
        &:nth-child(2) {
            .left {
                .img-wrap {
                    height: 450px;
                    @include mobile {
                        height: 250px;
                    }
                }
            }

            .right {
                flex: 1;
            }
        }
        display: flex;
        gap: 10px;
        @include tablet {
            flex-direction: column;
            gap: 50px;
        }
        @include mobile {
            gap: 10px;
        }

        .left {
            display: flex;
            flex: 1;
            gap: 10px;
            .img-wrap {
                height: 250px;
            }
            @include mobile {
                flex-direction: column;
            }
        }
        .right {
            flex: 1;
            .img-wrap {
                height: 450px;
                @include mobile {
                    height: 250px;
                }
            }
        }
    }
    .con-project {
        flex: 1;
        a {
            display: flex;
            flex-direction: column;
            font-weight: 200;
            gap: 10px;

            .img-wrap {
                .img-box {
                    height: 100%;
                    width: 100%;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .text-wrap {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .name {
                    font-size: 16px;
                    @include tablet {
                        font-size: 25px;
                    }
                    @include mobile {
                        font-size: 20px;
                    }
                }
                .tag {
                    .hash {
                        font-size: 14px;
                        font-style: normal;
                        @include mobile {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .link-velog {
            color: #999;
        }
    }
}
.sc-subProject {
    .more-project {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        @include tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .con-project {
        a[class*="link-"] {
            height: 100%;
        }
        .img-wrap {
            @include tablet {
                height: 350px;
            }
            @include mobile {
                height: 250px;
            }
        }
        &:nth-child(2),
        &:nth-child(3) {
            .img-wrap {
                flex: 0.7;
                @include tablet {
                    flex: auto;
                }
            }
        }
    }
}

.sc-contact {
    height: calc(100vh - 50px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after {
        display: none;
    }
    .text-box {
        position: absolute;
        width: 33%;
        right: 100px;
        top: 75%;
        @include tablet {
            width: 50%;
            right: 50px;
        }
        .desc {
            font-size: 18px;
            @include mobile {
                font-size: 14px;
            }
        }

        @include mobile {
            width: 100%;
            right: 0;
            padding: 0px 10px;
        }
    }
    .header-line {
        width: 100%;
        position: relative;

        @include mobile {
            flex-direction: column;
        }
        .title-box {
            flex: 0;
        }
        &:after {
            content: "";
            position: absolute;
            width: var(--width);
            height: 1px;
            background-color: #fff;
            left: 0;
        }
        & > div ~ div {
            span {
                text-decoration: underline;
            }
        }
    }
    .icon-wrap {
        height: fit-content;
        display: flex;
        gap: 10px;
        a {
            width: 50px;
            @include tablet {
                width: 40px;
            }
        }
    }
}
